# Combining Datasets in Pandas
In this guide, we discuss the binary update functions in Pandas
1. Import Pandas library
2. Load dataset


We practice these commands on the Titanic train dataset. 
The dataset can be downloaded from Kaggle website.

https://www.kaggle.com/c/titanic/data?select=train.csv

## 1. Import Pandas library

In [4]:
#First, import the Pandas library
import pandas as pd

## 2. Load dataset

In [5]:
#Next, let's load the dataset into a Pandas dataframe
df = pd.read_csv('train.csv') 

#Since, we have the dataset in a csv file, we have used pd.read_csv().
#There are different functions based on the type of data we are trying to load in a dataframe.
#More details can be found here
#https://pandas.pydata.org/pandas-docs/stable/reference/io.html

#Pandas provides support to read following filetypes
#Table, CSV, Clipboard, Excel, JSON, HTML ,XML, Latex, HDFStore: PyTables (HDF5), Feather, Parquet, ORC, SAS, SPSS, SQL, Google BigQuery and STATA

In [3]:
#Perform column-wise combine with another DataFrame.

#Combines a DataFrame with other DataFrame using func to element-wise combine columns. 
#The row and column indexes of the resulting DataFrame will be the union of the two.

df1 = pd.DataFrame({'A': [0, 0], 'B': [4, 4]})
df2 = pd.DataFrame({'A': [1, 1], 'B': [3, 3]})
take_smaller = lambda s1, s2: s1 if s1.sum() < s2.sum() else s2
df1.combine(df2, take_smaller)

   A  B
0  0  3
1  0  3